.footer {
  margin-top: 30px;
  padding-bottom: 50px;
  font-size: 13px;
  color: #B4B4B4;
  text-shadow: white 1px 1px 0px;
  .important {
    font-weight: bold;
    margin-bottom: 10px;
  }
  table {
    border-spacing: 0px;
  }
  td {
    min-width: 70px;
  }
  a {
    text-decoration: none;
    font-size: 13px;
    color: #bbb;
  }
  .center {
    margin: 0 auto 40px;
    width: 90%;
    font-size: 20px;
    text-align: center;
    .brand {
      font-family: "fertigo-script-1","fertigo-script-2";
    }
    .social {
      margin-top: 20px;
      .social-button {
        font-size: 20px;
        font-weight: normal;
        text-shadow: none;
        border: none;
        margin: 0 4px;
        padding: 4px 9px;
        border-radius: 3px;
        text-decoration: none;
      }
      .facebook-button {
        color: white;
        background-color: rgba(59, 89, 152, 0.7);
      }
      .twitter-button {
        color: rgba(0, 0, 0, 0.65);
        background-color: rgba(154, 228, 232, 0.5);
      }

      @media screen and (max-width: 768px) {
        line-height: 40px;
      }
    }
  }
  .right {
    text-align: right;
    .link {
      float: right;
    }
    .link:hover {
      text-decoration: underline;
    }
    .contact {
      margin-top: 30px;
    }
    .separator {
      margin: 0 5px;
      float: right;
    }
  }
}
