.footer {
  margin-top: 30px;
  padding-bottom: 150px;
  font-size: 13px;
  color: #B4B4B4;
  text-shadow: white 1px 1px 0px;
  .important {
    font-weight: bold;
    margin-bottom: 10px;
  }
  table {
    border-spacing: 0px;
  }
  td {
    min-width: 70px;
  }
  a {
    text-decoration: none;
    font-size: 13px;
    color: #bbb;
  }
  .right {
    .link {
      float: right;
    }
    .link:hover {
      text-decoration: underline;
    }
    .separator {
      margin: 0 5px;
      float: right;
    }
  }
}
