// @import "bootstrap/mixins";

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: 'Helvetica Neue'
}

body {
  background-color: #eee;
	padding-top: 40px;
}

.container {
  position: relative;
	width: 720px;
	margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
