.player {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 40px;
  margin: 0 auto 0 auto;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  padding-top: 5px;

  @media screen and (max-width: 768px) {
    line-height: 16px;
  }

  .player-right-container {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 16px;

    @media screen and (max-width: 768px) {
      position: static;
      display: block;
      margin: 0 auto;
      width: 86px;
      margin-bottom: 10px;
    }

    .favorite-button {
      display: inline-block;
      margin-right: 10px;
      &.favorited {
        color: #80c3c3;
      }
    }

    .playback-buttons {
      display: inline-block;
      vertical-align: middle;
      .playback-button {
        display: inline-block;
        width: 30px;
        font-size: 24px;
        color: white;
        margin-top: 3px;
        cursor: pointer;
        text-align: right;
      }
      .icon-next {
        margin-left: -5px;
      }
      .icon-previous {
        margin-right: -5px;
      }
    }
  }
}
