.subscribe {
  display: none;
  margin: 20px auto 25px;
  padding: 20px 0;
  text-align: center;
  .subscribe-text {
    font-size: 18px;
    margin: 0 auto;
    width: 85%;
  }
  .subscribe-form {
    margin-top: 10px;
    input {
      width: 227px;
      height: 18px;
      padding: 8px;
      border: 1px solid #999;
      -webkit-appearance: none;
      font-size: 14px;
      color: rgba(23,102,172,1);
      font-family: "adelle-1","adelle-2";

      @media screen and (max-width: 768px) {
        width: 80%;
        margin-bottom: 12px;
        text-align: center;
      }
    }
    input:focus {
      outline: none;
      border-color: #333;
    }
    button {
      height: 35px;
      width: 100px;
      margin-left: 10px;
      padding: 0;
      background-color: rgba(128,195,195,0.8);
      border: 0 none;
      border-radius: 4px;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 15px;
      text-decoration: none;
      font-family: "adelle-1","adelle-2";
    }
    button:hover {
      background-color: rgba(128,195,195,1);
    }
    button:focus {
      outline: none;
    }
    ::-webkit-input-placeholder {
       color: #bbb;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #bbb;
    }
  }
  .hide-button {
    margin-left: 10px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .subscriber-email {
    font-weight: bold;
  }
}
