.footer
  .container
    .center
      %span.brand Qratr.fm
      is a monthly curation of new music we're excited about.
    .left
      .important Keyboard Shortcuts
      %table
        %tbody
          %tr
            %td Space
            %td Play/Pause
          %tr
            %td ←
            %td Previous Playlist
          %tr
            %td →
            %td Next Playlist
          %tr
            %td ↑
            %td Previous Track
          %tr
            %td ↓
            %td Next Track
    .right
      .important.section-title Curators
      %ul.contributors
        %li
          .link= link_to "Guillaume Galuz", "http://gal.uz", :target => "_blank"
        %li
          .link= link_to "Benoit Destailleur", "https://www.facebook.com/benoit.destailleur", :target => "_blank"
        %li
          .link= link_to "Stephane Guinet", "https://twitter.com/Stephn_G", :target => "_blank"

      .link.contact= mail_to 'guillaume.galuz@gmail.com', "Contact", :target => "_blank"
