.footer
  .container
    .left
      .important Keyboard Shortcuts
      %table
        %tbody
          %tr
            %td Space
            %td Play/Pause
          %tr
            %td â†
            %td Previous Playlist
          %tr
            %td â†’
            %td Next Playlist
          %tr
            %td P
            %td Previous Track
          %tr
            %td N
            %td Next Track
    .right
      .important.section-title Curators
      %ul.contributors
        %li
          .link= link_to "Guillaume Galuz", "http://gal.uz", :target => "_blank"
        %li
          .link= link_to "Benoit Destailleur", "https://www.facebook.com/benoit.destailleur", :target => "_blank"

      .link.contact= mail_to 'guillaume.galuz@gmail.com', "Contact", :target => "_blank"
