.footer
  .container
    .left
      .important Keyboard Shortcuts
      %table
        %tbody
          %tr
            %td Space
            %td Play/Pause
          %tr
            %td P
            %td Previous Track
          %tr
            %td N
            %td Next Track
    .right
      = mail_to 'guillaume.galuz@gmail.com', "Contact"
