.container
  .footer
    %ul
      .left
        %li About
        %span.separator •
        %li Email
        %span.separator •
        %li Github
      .right
        %li Lovingly crafted in San Francisco and Paris.
