.footer
  .container
    .left
      .important Keyboard Shortcuts
      %table
        %tbody
          %tr
            %td Space
            %td Play/Pause
          %tr
            %td ←
            %td Previous Playlist
          %tr
            %td →
            %td Next Playlist
          %tr
            %td P
            %td Previous Track
          %tr
            %td N
            %td Next Track
    .right
      .link= mail_to 'guillaume.galuz@gmail.com', "Contact"
      %span.separator •
      .link= link_to("Old version", "http://qratr.net")
