- content_for :custom_head do
  %title= "Qratr.fm"

- content_for :facebook_open_graph do
  %meta{:property => "og:image", :content => "http://www.qratr.fm/assets/logo.png"}
  %meta{:property => "og:title", :content => "Qratr.fm - #{@playlist.name}"}
  %meta{:property => "og:url", :content => "#{@playlist.url}"}
