:javascript
  SC.initialize({
    client_id: "7b0148ec311a1ffa34c7e0248ed2c9de",
  });

:javascript
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : #{ENV['FACEBOOK_APP_ID']},            // App ID from the app dashboard
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });
  };
  
  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

:javascript
  $(function() {
    mixpanel.track("Page View");
    
    if (#{current_user.present?})
      window.user = new User(#{current_user.as_json_with_favorites.to_json});
    else
      window.user = new User();

    // Create Playlist model from json
    window.playlist = new Playlist(#{@playlist.as_json_with_tracks.to_json});

    // Create global view and populate playlist markup
    window.playlistsView = new PlaylistsView();
    playlistsView.renderPlaylist();
    
    // Create Player
    window.player = new Player();
    window.player.currentTrack = window.playlist.get('tracks').models[0]
    window.playerView = new PlayerView();

    // Create Header View
    window.headerView = new HeaderView();

    // Create Subscription View
    new SubscribeView();

    // Create Login and Signup Views
    window.loginModalView = new LoginModalView()
    window.signupModalView = new SignupModalView()
  });
