:javascript
  SC.initialize({
    client_id: "7b0148ec311a1ffa34c7e0248ed2c9de",
  });

:javascript
  $(function() {
    mixpanel.track("Page View");
    if (#{Rails.env.development?}) {
      window.localStorage.clear()
    }

    window.playerState = new PlayerState();
    playerState.set('displayPlaylist', new Playlist(#{@playlist.as_json_with_tracks.to_json}));
    new PlaylistView({model: playerState.get('displayPlaylist')});
    new NavigationView();
    new Player();
    new PlayerMetadataView();
    new SharingButtonsView();
    new PlaybackButtonsView();
    new ProgressBarView();
    new PageTitleView();
    new KeyboardView();
    new HeaderView();
    new SubscribeView();
    new LoginModalView();
    new SignupModalView();

    // TODO - Implement front-end support for user auth
  });
