:javascript
  SC.initialize({
    client_id: "7b0148ec311a1ffa34c7e0248ed2c9de",
  });

:javascript
  $(function() {
    // Create Playlist model from json
    window.playlist = new Playlist(#{@playlist.as_json_with_tracks.to_json});

    // Create global view and populate playlist markup
    var playlistsView = new PlaylistsView();
    playlistsView.renderPlaylist();
    
    // Create Player
    window.player = new Player();
  });
