:javascript
  SC.initialize({
    client_id: "7b0148ec311a1ffa34c7e0248ed2c9de",
  });

:javascript
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : #{ENV['FACEBOOK_APP_ID']},            // App ID from the app dashboard
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });
  };
  
  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

:javascript
  $(function() {
    mixpanel.track("Page View");

    window.playerState = new PlayerState();
    playerState.set('displayPlaylist', new Playlist(#{@playlist.as_json_with_tracks.to_json}));
    new PlaylistView({model: playerState.get('displayPlaylist')});
    new NavigationView();
    new Player();
    new PlayerMetadataView();
    new PlaybackButtonsView();
    new ProgressBarView();
    new PageTitleView();
    new KeyboardView();
    new HeaderView();
    new SubscribeView();
    new LoginModalView();
    new SignupModalView();

    // TODO - Implement front-end support for user auth
  });
