.navigation
  .container
    .navigation-prev
      .navigation-icon.icon-prev-playlist
      .navigation-text.text-prev
    .navigation-next
      .navigation-icon.icon-next-playlist
      .navigation-text.text-next
