#player
  .container
    .player-left-container
      .track-artwork
      .track-artist
      .track-title
    .player-right-container
      .playback-button.next-track
      .playback-button.play-pause
      .playback-button.prev-track
      .playback-button.share
      .soundcloud-logo
