#player
  .container
    %ul
      .left
        %li.track-artist
        %li.track-title
      .right.right-container
        %li.playerPlay Pause
        %li.soundcloud-logo
          %a{:href => "", :target => 'blank'}
            = image_tag("soundcloud.png")
