.player
  .container
    .player-left-container
    .player-right-container
      -# .favorite-button.icon-star{"data-toggle" => "popover", "data-placement" => "bottom" }
      .playback-buttons
  
    .progress-bar
      .elapsed
