.subscribe.container
  .email
    .subscribe-text Receive an email when we publish a new playlist.
    .subscribe-form
      %input{:name => "email", :placeholder => "brian.eno@googlemail.co.uk", :class => "subscribe-input", :type => "text"}
      %button{:class => "subscribe-button"} Subscribe
      %span{:class => "hide-button"} Hide
