.subscribe.container
  .subscribe-text Receive an email when we publish a new playlist.
  .subscribe-form
    %input{:name => "email", :placeholder => "Paste your email", :class => "subscribe-input"}
    %button{:class => "subscribe-button"} Subscribe
